0. Load the `penguins` dataset from the `palmerpenguins` library, as well as any other libraries you need.

In [12]:
import pandas as pd
from palmerpenguins import load_penguins
import numpy as np

In [13]:
penguins = load_penguins()

In [14]:
print(penguins)

       species     island  bill_length_mm  ...  body_mass_g     sex  year
0       Adelie  Torgersen            39.1  ...       3750.0    male  2007
1       Adelie  Torgersen            39.5  ...       3800.0  female  2007
2       Adelie  Torgersen            40.3  ...       3250.0  female  2007
3       Adelie  Torgersen             NaN  ...          NaN     NaN  2007
4       Adelie  Torgersen            36.7  ...       3450.0  female  2007
..         ...        ...             ...  ...          ...     ...   ...
339  Chinstrap      Dream            55.8  ...       4000.0    male  2009
340  Chinstrap      Dream            43.5  ...       3400.0  female  2009
341  Chinstrap      Dream            49.6  ...       3775.0    male  2009
342  Chinstrap      Dream            50.8  ...       4100.0    male  2009
343  Chinstrap      Dream            50.2  ...       3775.0  female  2009

[344 rows x 8 columns]

1. Write a function that takes in information about a penguin, and returns one of the following definitions:

*   "Big Mouth Billy": Male penguins with bill length times bill depth greater than 800.
*   "Dainty Daisy": Female penguins with flipper length less than 5% of body mass.
*   "Average Adelie:" Any Adelie penguins that do not fall into either category.
*   "Other": Any penguins that do not fall into any of the categories.

In [15]:
def classify_penguin(row):
        # Handle missing values gracefully
        if pd.isnull(row["bill_length_mm"]) or pd.isnull(row["bill_depth_mm"]) or \
        pd.isnull(row["flipper_length_mm"]) or pd.isnull(row["body_mass_g"]) or \
        pd.isnull(row["sex"]) or pd.isnull(row["species"]):
                return "Other"

        # Rule 1: Big Mouth Billy
        if (row["sex"].lower() == "male") and (row["bill_length_mm"] * row["bill_depth_mm"] > 800):
                return "Big Mouth Billy"
        
        # Rule 2: Dainty Daisy
        if (row["sex"].lower() == "female") and (row["flipper_length_mm"] < 0.05 * row["body_mass_g"]):
                return "Dainty Daisy"
        
        # Rule 3: Average Adelie
        if row["species"].lower() == "adelie":
                return "Average Adelie"
        
        # Rule 4: Other
        return "Other"

2. Use an iterable function to create a new variable called `category_name` that adds these labels.

In [16]:
penguins["category_name"] = penguins.apply(classify_penguin, axis=1)

3. Run the following code to find the counts for each type.

In [17]:
penguins.value_counts("category_name")

category_name
Average Adelie     121
Other               90
Big Mouth Billy     71
Dainty Daisy        62
Name: count, dtype: int64